{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        targets: {
          ie: "9"
        },
        useBuiltIns: "entry"
      }
    ]
  ],
  "plugins": [
    "react-loadable/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
