@import "../../../breakpoint";

$profile-banner-z-index: 3;
$profile-avatar-z-index: 4;

.profile-header {
  height: 175px;
  transition: height 0.3s;
  position: relative;
  box-sizing: content-box;
}

.profile-header--with-nav {
  padding-bottom: 66px;
}

.profile-banner {
  background: #4a9ff6;
  margin-top: 0;
  height: 100%;
  position: relative;
}

.profile-header__inner {
  height: 100%;
  position: relative;
}

.profile-navbar {
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 66px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  padding-left: 33%;
}

.profile-avatar__container {
  bottom: -87px;
  position: absolute;
  transition: bottom 0.3s;
}

.profile-avatar {
  background: #4a9ff6;
  border: 5px solid #fff;
  height: 200px;
  position: relative;
  width: 200px;
}

.profile__setting-btn {
  padding: 15px;
  cursor: pointer;
}
