.user-settings__avatar-input-preview {
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.user-settings__avatar-input {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.user-settings__avatar-input-container {
  flex: 1;
}
