.user-account__fieldset-header {
  min-height: 20px;
  padding: 12px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  border-radius: 0;
}

.user-account__fieldset {
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
}
