@import "../../breakpoint";

.document-container {
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 50px;
  @include breakpoint(xs) {
    margin-top: 25px;
  }
}

.sidebar-open {
  transition: all 0.2s ease-in-out;
  margin-top: 50px;
  align-items: start;
}


.project-document {
  max-width: 740px;
  padding: 20px 0px 6rem;
}

.project-document__back-btn {
  cursor: pointer;
  width: 150px;
}

.project-document__header .document__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.58;
  text-transform: capitalize;
  margin-bottom: 1rem;
  max-width: 740px;
  font-family: "Merriweather", Helvetica, sans-serif;
  @include breakpoint(xs) {
    width: 100%;
    font-size: 36px;
    line-height: 40px;
  }
  @include breakpoint(sm) {
    width: 100%;
  }
}

.project-document__header .document__subtitle {
  font-size: 1.2rem;
  color: #838383;
  font-family: "Roboto Condensed", sans-serif;
}

.project-document__header {
  display: flex;
  flex-direction: column;
}

.project-document__header-image {
  max-width: 740px;
  @include breakpoint(xs) {
    max-width: 375px;
  }
}

.document__request-btn {
  text-decoration: underline;
  color: #4a9ff6 !important;
}

.project-document__footer {
  @include breakpoint(xs) {
    flex-direction: column;
  }
}
