$text-sm-margin: 5px;
$text-md-margin: 10px;
$text-lg-margin: 16px;

.profile-details__name {
  font-weight: 600;
  margin-bottom: $text-sm-margin;
  display: table;
}

.profile-details__toggle-scene {
  font-size: 12px;
  font-weight: 400;
  color: #838383;
  border: 1px solid #838383;
  padding: 3px 5px;
  border-radius: 4px;
  display: table-cell;
  line-height: 1.2;
  vertical-align: middle;
  position: relative;
  left: 5px;
}

.profile-details__badge {
  margin-left: -8px;
  margin-right: -8px;
}

.profile-details__badge span {
  font-size: 14px;
  font-weight: 600;
  color: #00afff;
}

.profile-details__user-handle {
  color: #838383;
  font-size: 13px;
}

.profile-details__current-career-role {
  margin-bottom: $text-md-margin;
}

.profile-details--with-icons {
  display: block;
  font-size: 14px;
  margin-bottom: $text-sm-margin;
}

.profile-details--with-icons .fas {
  color: #838383;
  width: 25px;
}

.profile-details--with-icons a {
  color: #007bff;
}

.profile-details__social-media-container {
  margin-top: $text-lg-margin;
}

.profile-details__social-media-link {
  display: inline-block;
  padding: 10px 15px;
  background: #565656;
  color: white;
  margin-right: 5px;
}

.profile-details__badge-container {
  margin-bottom: 1.5rem;
}

.profile-details--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px 0;
  .profile-details__user-handle,
  .profile-details__badge-container {
    margin-bottom: 0.5rem;
  }
}

.profile-details__show-more {
  font-size: 13px;
}
