@import "../../../../../breakpoint";

.requests-for-comment__comment {
  border-top: 1px solid #828282;
  @include breakpoint(xs) {
    padding: 0 20px;
  }
}

.requests-for-comment__comment:last-of-type {
  border-bottom: 1px solid #828282;
}

.requests-for-comment__comment .comment-item {
  width: calc(100% - 46px - 1rem);
}
