.contribution__action-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px
}

.contribution__action-btn:first-of-type {
  padding-left: 0px;
}

.contribution__action-btn i {
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}
