.list-item-base {
  margin-top: 4px;
  color: #838383;
  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-image: initial;
  overflow: hidden;
  background: white;
}

.list-item-base--with-theme {
  padding-left: 40px;
}

.list-item-base__theme-icon {
  width: 40px;
  border-left: 4px solid transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 20px 0px 8px 12px;
  position: absolute;
  top: 0;
}

.list-item-base__main-content {
  padding: 16px 16px 48px 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  position: relative;
  word-break: break-word;
}

.list-item-base__main-content--without-action-elements {
  padding-bottom: 16px;
}

.list-item-base__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  vertical-align: middle;
  color: #020721;
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}

.list-item-base__subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px
}

.list-item-base__subtitle-item {
  display: inline;
}

.list-item-base__subtitle-item * {
  margin-right: 3px;
}

.list-item-base__action-elements {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
}
